<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Mon nom est Kevin Jobin et je suis étudiant en informatique, passionné par le développement logiciel, web et
          mobile. Mon intérêt s'est développé tranquillement au fil des années pour finalement devenir une véritable
          vocation.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Me voilà déjà rendu à la fin de mon parcours universitaire, cumulant 3 années d'expérience dans le domaine.
          J'ai
          eu la chance de travailler sur des projets variés, allant de la conception de logiciel à la
          création d'un site web.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="cv-kevin-jobin.pdf" download class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> VOIR MON CV
        </a>
      </div>
    </div>
  </div>
</section>