<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            <hr class="star-primary">
            {% if post.description %}
            <p class="modal-description">{{ post.description }}</p>
            {% endif %}
            {% if post.github_url %}
            <div class="modal-link">
              <strong><a class="btn btn-md btn-success uppercase" href="{{ post.github_url }}" target="_blank">
                  <i class="fa-brands fa-github"></i>
                  voir
                  le
                  projet</a></strong>
            </div>
            {% endif %}
            {% if post.demo_url %}
            <div class="modal-link">
              <strong><a class="btn btn-md btn-success uppercase" href="{{ post.demo_url }}" target="_blank">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                  voir la
                  démo</a></strong>
            </div>
            {% endif %}
            <div class="container item-details">
              {% if post.client %}
              <div class="item-details-row">
                <div class="col">
                  Cours:
                </div>
                <div class="col">
                  <strong>{{ post.client }}</strong>
                </div>
              </div>
              {% endif %}
              {% if post.project-date %}
              <div class="item-details-row">
                <div class="col">
                  Date:
                </div>
                <div class="col">
                  <strong>{{ post.project-date }}</strong>
                </div>
              </div>
              {% endif %}
              {% if post.category %}
              <div class="item-details-row">
                <div class="col">
                  Catégorie:
                </div>
                <div class="col">
                  <strong>{{ post.category }}</strong>
                </div>
              </div>
              {% endif %}
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}